@{
    // Set the page title for the browser tab and layout
    ViewData["Title"] = "Privacy Policy";
}

<!-- Privacy Policy Page Content -->
<h1>@ViewData["Title"]</h1>

<!-- Privacy policy content -->
<p>Thank you for visiting my Website, there is no current privacy policy so you are all good ;)</p>
